<div class="col1">
  <button mat-icon-button color="accent" [routerLink]="['/home']" routerLinkActive="router-link-active">
    <mat-icon>backspace</mat-icon>
  </button>
</div>
<form [formGroup]="addItemForm" novalidate (ngSubmit)="onSubmit()" enctype="multipart/form-data">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>Item Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="addItemForm.controls['name'].hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Weight" formControlName="weight">
            <mat-error *ngIf="addItemForm.controls['weight'].hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Value" formControlName="value">
            <mat-error *ngIf="addItemForm.controls['value'].hasError('required')">
              Value is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Colour" formControlName="colour">
            <mat-error *ngIf="addItemForm.controls['colour'].hasError('required')">
              Colour is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="!hasSerialNumber">
        <div class="col">
          <button mat-button type="button" (click)="hasSerialNumber = !hasSerialNumber">
            + Add Serial number
          </button>
        </div>
      </div>
      <div class="row" *ngIf="hasSerialNumber">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Serial Number" formControlName="serialNumber">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="file">Add photo</label>
          <br>
          <input id="file" type="file" formControlName="fileName">
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Storage" formControlName="storage">
              <mat-option *ngFor="let storage of storages" [value]="storage.type">
                {{ storage.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Add</button>
    </mat-card-actions>
  </mat-card>
</form>
